*{
    margin: auto;
    padding: 0;
}

/*======CONTAINER=====*/

.dash_wrapper .container {
    max-width: 2000px;
    margin: auto;
}

/*======WISHES=====*/

.dash_wrapper .wishes{
    text-align: center;
    margin-left: 9rem;
}

.dash_wrapper p.p {
    color: #000;
    font-size: 30px;
    font-weight: 550;
}

/*======MAIN=====*/

.dash_wrapper .main{
    display: flex;
    margin-top: 18rem;
}

/*======REGIST=====*/

.dash_wrapper .regist{
    width: 20%;
    height: 29vh;
    margin-left: 20rem;
    border-radius: 15px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.8);
}

/*======APPOINT=====*/

.dash_wrapper .appoint {
    width: 20%;
    height: 29vh;
    border-radius: 15px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.8);
}

/*======ADMIN=====*/

.dash_wrapper .admin {
    width: 20%;
    height: 29vh;
    border-radius: 15px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.8);
}

/*======HEAD=====*/

.dash_wrapper .head {
    text-align: center;
    margin-top: 1rem;
}

/*======P=====*/

.dash_wrapper p {
    font-size: 19px;
    font-weight: 550;
}

/*======TOTAL=====*/

.dash_wrapper p.total {
    margin-top: 37px;
    font-size: 60px;
}