*{
    margin: auto;
    padding: 0;
}

/*======CONTAINER=====*/

.delete1_wrapper .container {
    max-width: 2000px;
    margin: auto;
}

/*======BACK-BUTTON=====*/

.delete1_wrapper .back {
    margin-top: 2rem;
    margin-left: 35px;
}

.delete1_wrapper button {
    border: none;
    background-color: #fff;
    font-size: 14px;
    font-weight: 550;
    cursor: pointer;
}

/*======ICONS=====*/

.delete1_wrapper .icons {
    margin-left: -21px;
    margin-top: -18px;
    font-size: 18px;
}

.delete1_wrapper a {
    color: #000;
    cursor: pointer;
}

/*======H1=====*/

h1.h1{
    text-align: center;
    align-items: center;
    color: #fafafa;
    margin: 18%;
    background: #1976d2;
}