* {
    margin: auto;
    padding: 0;
}

/*======RECORD=====*/

.display1_wrapper h1.record {
    color: #000;
    text-align: center;
    margin-left: 10rem;
    text-decoration: underline;
    text-decoration-thickness: 1.5px;
}

/*======TABLE=====*/

.display1_wrapper table {
    background: #fafafa;
    border-radius: 5px;
    font-family: sans-serif;
    text-align: center;
    margin-left: 16rem;
    margin-top: 2rem;
    border: none;
}

/*======SORRY=====*/

.sorry h2 {
    color: #000;
    text-align: center;
    font-size: 30px;
}

/*======DELETE=====*/

.display1_wrapper .delete {
    background: red;
    color: white;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    height: 20px;
    width: 70px;
}