@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");

* {
  margin: auto;
  padding: 0;
  box-sizing: border-box;
}

/*======DONATE1_WRAPPER=====*/

.donate1_wrapper,
.donate1_wrapper input,
.donate1_wrapper textarea {
  font-family: "Poppins", sans-serif;
}

/*======CONTAINER=====*/

.donate1_wrapper .container {
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding: 2rem;
  background-color: #fafafa;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*======FORM=====*/

.donate1_wrapper .form {
  width: 100%;
  max-width: 820px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

/*======CONTACT=====*/

.donate1_wrapper .contact-form {
  background-color: #1976d2;
  position: relative;
}

.donate1_wrapper .circle {
  border-radius: 50%;
  background: linear-gradient(135deg, transparent 20%, #fafafa);
  position: absolute;
}

.donate1_wrapper .circle.one {
  width: 130px;
  height: 130px;
  top: 130px;
  right: -40px;
}

.donate1_wrapper .circle.two {
  width: 80px;
  height: 80px;
  top: 10px;
  right: 30px;
}

.donate1_wrapper .contact-form:before {
  content: "";
  position: absolute;
  width: 26px;
  height: 26px;
  background-color: #1976d2;
  transform: rotate(45deg);
  top: 50px;
  left: -13px;
}

.donate1_wrapper form {
  padding: 2.3rem 2.2rem;
  z-index: 10;
  overflow: hidden;
  position: relative;
}

.donate1_wrapper .title {
  color: #fff;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1;
  margin-bottom: 0.7rem;
}

/*======INPUT=====*/

.donate1_wrapper .input-container {
  position: relative;
  margin: 1rem 0;
}

.donate1_wrapper .info {
  margin-left: -40px;
}

.donate1_wrapper .input {
  width: 100%;
  outline: none;
  border: 2px solid #fafafa;
  background: none;
  padding: 0.6rem 1.2rem;
  color: #fff;
  font-weight: 500;
  font-size: 0.95rem;
  letter-spacing: 0.5px;
  border-radius: 25px;
  transition: 0.3s;
}

.donate1_wrapper textarea.input {
  padding: 0.8rem 1.2rem;
  min-height: 52px;
  border-radius: 22px;
  resize: none;
  overflow-y: auto;
}

.donate1_wrapper .input-container label {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  padding: 0 0.4rem;
  color: #fafafa;
  font-size: 0.9rem;
  font-weight: 400;
  pointer-events: none;
  z-index: 1000;
  transition: 0.5s;
}

.donate1_wrapper .input-container.textarea label {
  top: 1rem;
  transform: translateY(0);
}

/*======BUTTON=====*/

.donate1_wrapper .btn {
  padding: 0.6rem 1.3rem;
  background-color: #fff;
  border: 2px solid #fafafa;
  font-size: 0.95rem;
  color: #1976d2;
  line-height: 1;
  border-radius: 25px;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
  margin: 0;
}

.donate1_wrapper .btn:hover {
  background-color: transparent;
  color: #fff;
}

/*======INPUT-CONTAINER=====*/

.donate1_wrapper .input-container span {
  position: absolute;
  top: 0;
  left: 25px;
  transform: translateY(-50%);
  font-size: 0.8rem;
  padding: 0 0.4rem;
  color: transparent;
  pointer-events: none;
  z-index: 500;
}

.donate1_wrapper .input-container span:before,
.donate1_wrapper .input-container span:after {
  content: "";
  position: absolute;
  width: 10%;
  opacity: 0;
  transition: 0.3s;
  height: 5px;
  background-color: #663399;
  top: 50%;
  transform: translateY(-50%);
}

.donate1_wrapper .input-container span:before {
  left: 50%;
}

.donate1_wrapper .input-container span:after {
  right: 50%;
}

.donate1_wrapper .input-container.focus label {
  top: 0;
  transform: translateY(-50%);
  left: 25px;
  font-size: 0.8rem;
}

.donate1_wrapper .input-container.focus span:before,
.donate1_wrapper .input-container.focus span:after {
  width: 50%;
  opacity: 1;
}

/*======CONTACT-INFO=====*/

.donate1_wrapper .contact-info {
  padding: 2.3rem 2.2rem;
  position: relative;
}

.donate1_wrapper .contact-info .title {
  color: #1976d2;
}

.donate1_wrapper .text {
  color: #333;
  margin: 1.5rem 0 2rem 0;
}

.donate1_wrapper .information {
  display: flex;
  color: #555;
  margin: 0.7rem 0;
  align-items: center;
  font-size: 0.95rem;
}

/*======SOCIAL-ICON=====*/

.donate1_wrapper .icon {
  width: 28px;
  margin-right: 0.7rem;
}

.donate1_wrapper .social-media {
  padding: 2rem 0 0 0;
}

.donate1_wrapper .social-media p {
  color: #333;
}

.donate1_wrapper .social-icons {
  display: flex;
  margin-top: 0.5rem;
}

.donate1_wrapper .social-icons a {
  width: 35px;
  height: 35px;
  border-radius: 5px;
  background: #1976d2;
  color: #fff;
  text-align: center;
  line-height: 35px;
  margin-right: 2.5rem;
  transition: 0.3s;
}

.donate1_wrapper .social-icons a:hover {
  transform: scale(1.05);
}

.donate1_wrapper .contact-info:before {
  content: "YouHeal";
  position: absolute;
  width: 110px;
  height: 100px;
  border: 22px solid #1976d2;
  border-radius: 50%;
  bottom: -77px;
  right: 50px;
  opacity: 0.3;
}

.donate1_wrapper .big-circle {
  position: absolute;
  width: 500px;
  height: 500px;
  border-radius: 50%;
  background: linear-gradient(to bottom, #1976d2, #fafafa);
  bottom: 50%;
  right: 50%;
  transform: translate(-40%, 38%);
}

.donate1_wrapper .big-circle:after {
  content: "";
  position: absolute;
  width: 360px;
  height: 360px;
  background-color: #fafafa;
  border-radius: 50%;
  top: calc(50% - 180px);
  left: calc(50% - 180px);
}

.donate1_wrapper .square {
  position: absolute;
  height: 400px;
  top: 50%;
  left: 50%;
  transform: translate(181%, 11%);
  opacity: 0.2;
}

.donate1_wrapper .icon1 {
  font-size: 17px;
  margin-top: -58px;
  margin-left: 12rem;
  margin-bottom: 47px;
}

/*======MEDIA -QUERY=====*/


@media (max-width: 850px) {
  .donate1_wrapper .form {
    grid-template-columns: 1fr;
  }

  .donate1_wrapper .contact-info:before {
    bottom: initial;
    top: -75px;
    right: 65px;
    transform: scale(0.95);
  }

  .donate1_wrapper .contact-form:before {
    top: -13px;
    left: initial;
    right: 70px;
  }

  .donate1_wrapper .square {
    transform: translate(140%, 43%);
    height: 350px;
  }

  .donate1_wrapper .big-circle {
    bottom: 75%;
    transform: scale(0.9) translate(-40%, 30%);
    right: 50%;
  }

  .donate1_wrapper .text {
    margin: 1rem 0 1.5rem 0;
  }

  .donate1_wrapper .social-media {
    padding: 1.5rem 0 0 0;
  }
}

@media (max-width: 480px) {
  .donate1_wrapper .container {
    padding: 1.5rem;
  }

  .donate1_wrapper .contact-info:before {
    display: none;
  }

  .donate1_wrapper .square,
  .donate1_wrapper .big-circle {
    display: none;
  }

  .donate1_wrapper form,
  .donate1_wrapper .contact-info {
    padding: 1.7rem 1.6rem;
  }

  .donate1_wrapper .text,
  .donate1_wrapper .information,
  .donate1_wrapper .social-media p {
    font-size: 0.8rem;
  }

  .donate1_wrapper .title {
    font-size: 1.15rem;
  }

  .donate1_wrapper .social-icons a {
    width: 30px;
    height: 30px;
    line-height: 30px;
  }

  .donate1_wrapper .icon {
    width: 23px;
  }

  .donate1_wrapper .donate1_wrapper .input {
    padding: 0.45rem 1.2rem;
  }

  .donate1_wrapper .btn {
    padding: 0.45rem 1.2rem;
  }
}