*{
    margin: auto;
    padding: 0;
}

/*======CONTAINER=====*/

.reload_wrapper .container {
    max-width: 2000px;
    margin: auto;
}

/*======MESSAGE=====*/

.reload_wrapper h2.msg {
    text-align: center;
    font-size: 35px;
    margin-top: 6rem;
    color: #1976d2;
    margin-bottom: 1rem;
}

.reload_wrapper p.msg1 {
    text-align: center;
    font-size: 17px;
    color: #1976d2;
    line-height: 21px;
    margin-bottom: 5px;
}

/*======SECONDS-DISPLAY=====*/

.reload_wrapper div#secondsdisplay {
    text-align: center;
    letter-spacing: 1px;
    margin-top: 12px;
}

/*======PRELOADER=====*/

.reload_wrapper .preloader {
    text-align: center;
}

.reload_wrapper img.reload {
    width: 5%;
}

/*======MEDIA QUERY=====*/